<h1>Editar perfil de {{editUser.username}}</h1>

<div class="container">

    <div class="col-md-6">
      <form action="/profile/edit/{{editUser._id}}" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="name-input">Nombre de usuario</label>
          <input name="username" type="text" class="form-control" id="name-input" value="{{editUser.username}}">
        </div>
        <div class="form-group">
          <label for="email-input">Email</label>
          <input name="email" type="email" class="form-control" id="email-input" value="{{editUser.email}}">
        </div>
        <div class="form-group">
          <label for="image-input">Imagen de Perfil</label>
          <input name="paco" type="file" class="form-control" id="image-input">
        </div>
        <div class="form-group">
          <label for="age-input">Edad</label>
          <input name="age" type="number" class="form-control" id="age-input" value="{{editUser.age}}">
        </div>
        <div class="form-group">
          <label for="address-input">Dirección</label>
          <input name="address" type="text" class="form-control" id="address-input" value="{{editUser.address}}">
        </div>
        <div class="form-group">
          <label for="dni-input">DNI</label>
          <input name="dni" type="text" class="form-control" id="dni-input" value="{{editUser.dni}}">
        </div>
        <div class="form-group">
          <label for="phone-input">Número de teléfono</label>
          <input name="phoneNumber" type="tel" class="form-control" id="phone-input" value="{{editUser.phoneNumber}}">
        </div>
         <button type="submit" class="btn btn-dark">Guardar edición</button>
        <a href="/profile" class="btn btn-dark">Volver</a>
        <a href="/profile/delete/{{editUser._id}}" class="btn btn-dark">Eliminar</a>

      </form>
    </div>
</div>
</form>