<div class="container">
    <div class="row">
        <div class="col-md-6 profile-info">

            <h1>Bienvenido, {{users.username}}! </h1>

            <p>Email: {{users.email}}</p>
            <p>Foto de Perfil: <img class="profile" src="{{users.profilePicPath}}"></p>
            
            <p>Edad: {{users.age}}</p>
            <p>Dirección: {{users.address}}</p>
            <p>DNI: {{users.dni}}</p>
            <p>Número de teléfono: {{users.phoneNumber}}</p>
            <a href="/profile/edit/{{users._id}}" class=" btn btn-dark">Editar Usuario</a>
        </div>

        <div class="col-md-6">
            <h1>Mis coches</h1>
            {{#each cars}}
            <div class="car-collection">
                <a href="/cars/{{_id}}/details">
                    <img class="profile-car-img" src="{{carImagePath}}" alt="{{users.username}}">
                </a>
                <div class="profile-button">
                    <a class="btn btn-info" href="/cars/{{_id}}/edit">Editar</a>
                    <form action="/cars/{{_id}}/delete" method="POST">
                        <button class="btn btn-danger" type="submit">Borrar</a>
                    </form>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
