<h1>Foro</h1>
<a href="/forum/create" class=" btn btn-dark">Crear Post</a>

<div class="container">
    <div class="row">
            {{#each allPost}}
                <div class="col-md-4 card">
                        <h2>Titulo: {{title}}</h2>
                        <img class="postpic" src="{{postPicPath}}" alt="{{title}}">
                        <p>Comentario: {{comment}}</p>
                        <p>Usuario: {{creatorId.username}}</p>
                        <div>
                            <a href="/forum/edit/{{_id}}" class="btn btn-dark">Editar Post</a>
                        </div>
                        <form action="/forum/delete/{{_id}}" method="POST">
                            <input type="submit" class="btn btn-dark" value="Borrar Post">
                        </form>
                </div>
            {{/each}}
    </div>
</div>
