<h1>{{title}}</h1>
<div class="info">

    <div id="myMap"></div>

    <h3>Lista de coches</h3>
    <a href="/cars/create" class="btn btn-dark">Crear un coche</a>

    <div class="container">
        <div class="row justify-content-center">
            {{#each allCars}}
                <div class="col-md-8">

                    <h3>{{brand}} | {{model}}</h3>
                    <figure class="main-view-car"><img src="{{carImagePath}}"></figure>
                    <p><strong>Propietario: </strong> {{creatorId.username}}</p>

                    <a class="btn btn-info" href="/cars/{{_id}}/details">Ver</a>

                    {{!-- <a class="btn btn-info" href="/cars/{{_id}}/edit">Editar</a>
                                    |
                                    <form action="/cars/{{_id}}/delete" method="POST">
                                        <button class="btn btn-danger" type="submit">Borrar</a>
                                    </form> --}}
                </div>
            {{/each }}
        </div>
    </div>
</div>

{{!-- AXIOS   Y API GOOGLE MAPS    --}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/main.js"></script>
<script src="/javascripts/mapStyles.js"> </script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5zll-K3WnkRdKTRaRgbyeC_JkL76ygyM"></script>